@import "../../styles/partials/global";

/* Discount Banner Section */
.banner-container {
  display: flex;
  justify-content: center;
  margin: 200px 0;
  &__information {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    font-size: 50px;
    text-align: center;
    width: 1267px;
    margin: 0;
    padding: 68.8px 0;
    animation: flash linear 2.5s infinite;
    @keyframes flash {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
        background-color: #5bace3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &__discount-code {
    font-weight: bold;
  }
}
